* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

body, input, button, select {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color:whitesmoke;
    color: rgb(44, 43, 43);
}

header {
    height: 150px;
    width: 50%;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 19px;
    padding: 20px 0;
    border-bottom: 2px solid rgb(44, 43, 43);
}

form {
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

input, select, button {
    margin-right: 10px;
    padding: 7px;
    border: 2px solid rgb(44, 43, 43);
    border-radius: 15px;
}

input {
    width: 300px;
}

ul {
    width: 50%;
}

ul li {
    border-bottom: 1px solid rgb(44, 43, 43);
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li:last-child {
    border: none;
}

.completed {
    text-decoration: line-through;
}