.about {
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: -2;
    
    &__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        width: auto;
        z-index: -2;
        transform: translate(-50%, -50%);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgb(0, 0, 0, .8);
    }

    &__container {
        max-width: 80%;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        img {
            width: 100%;
            border-radius: 30 30 0 0;
        }
    }

    &__us, &__product {
        max-width: 350px;
        display: flex;
        flex-direction: column;

        h2 {
            margin: -25px 0 3px;
        }
    }

    &__product {
        align-items: right;
        text-align: right;
    }

    @media (min-width: 640px) {
        &__us, &__product {
            max-width: 400px;
        }
    }

    @media (min-width: 1024px) {
        height: 80vh;

        &__container {
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
    }
}