.title {
    font-size: 48px;
}

.mensagem {
    padding: 8px;
    border: 1px solid gray;
}

.mensagem-titulo {
    font-size: 18px;
}

.mensagem-conteudo {
    font-size: 14px;
}

.mensagem-is-error {
    border-color: black;
    background-color: red;
    color: white;
    padding: 32px;
}

.accordion {
    border: 1px solid black;
}

.accordion-header {
    padding: 8px;
    cursor: pointer;
}

.accordion-content {
    padding: 8px;
    border-top: 1px solid gray;
    display: none;
}

.is-open .accordion-content {
    display: block;
}