// Fontes
$fontPrincipal: Montserrat, sans-serif;
$corFundo: rgb(67, 188, 81);

// Esquema de cores
$corPrincipal: #9b3696;
$corSecundaria: rgb(5, 8, 96);
$corTexto2: rgb(248, 220, 8);

// Breakpoints
$mobile: 767px;
$tablet: 1023px;