* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 20px 0 0;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 56px;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
    background-color: lightgray;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 15px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
}

.submenu li {
    display: block;
    padding: 5px;
}

.submenu li a {
text-decoration: none;
color: white;
}

.btn-menu button {
    display: none;
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
}

main > h2 {
    margin-bottom: 20px;
}

.new img {
    max-width: 100%;
}

.highlight {
    margin-bottom: 50px;
}

.highlight .new a {
    display: flex;
    font-size: 1.5em;
}

.highlight .new img {
    margin-right: 10px;
}

section h2 {
    margin-bottom: 30px;
}

aside {
    padding-left: 40px;
}

aside .new {
    margin-bottom: 20px;
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
}

@media screen and (max-width: 767px) {
    header {
        justify-content: center;
        align-items: center;
    }
    
    .content {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .highlight .new a {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        max-width: 90%;
        margin: 0 auto;
        align-items: center;
    }
    
    .highlight .new img {
        margin-right: 0;
        width: 100%;
    }
    
    h2 {
        max-width: 90%;
        margin: 0 auto;
    }

    .news {
        display: block;
    }

    .news .new {
        margin-bottom: 20px;
        max-width: 90%;
        margin: 20px auto;
    }

    .news .new a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new img {
        width: 100%;
    }
    
    aside {
        padding-left: 0;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    header div.container {
        flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100%;
        position: relative;
        border: none;
        background-color: white;
    }

    .menu {
        display: none;
    }
    
    .menu > li {
        clear: both;
    }
    
    .submenu li {
        display: block;
        padding: 5px;
    }

    .submenu li a {
        color: black;
    }

    .btn-menu {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        margin-top: 15px;
    }

    .btn-menu button {
        display: block;
        padding: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .highlight .news a {
        font-size: 1rem;
    }

    .news {
        grid-template-columns: repeat(2, 49%);
    }
}