:root {
    --brand: #2e1616;
    --soft: #faf8f2;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: var(--brand);
    font-size: 14px;
}

.navbar h1 a {
    text-decoration: none;
    color: var(--soft);
}

a:visited {
    text-decoration: none;
    color: inherit;
}

#menu .nav-link.active,
#menu .nav-link.focus {
    background-color: var(--soft);
    color: var(--brand);
}

#menu .nav-link.active:hover,
#menu .nav-link.focus:hover,
#menu-restaurant .nav-link {
    color: var(--brand);
}

nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
#menu .nav-link:hover {
    color: var(--soft);
}

.navbar-brand {
    font-family: "Six Caps", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
}

.navbar-toggler {
    border: none;
}

span.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: none;
}

.carousel-item {
    height: 85vh;
}

.carousel-item img {
    object-position: bottom;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

h1, h2, h3 {
    font-family: "Six Caps", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: var(--brand);
}

section {
    background-color: var(--soft);
    padding-bottom: 100px;
}

#about li {
    list-style: square;
}

#about:target,
#events:target,
#menu-restaurant:target,
#contact:target {
    padding-top: 150px;
    margin-top: -100px;
}

#events img {
    height: 250px;
}

#menu-restaurant .nav-link.active,
#menu-restaurant .nav-link.focus {
    background-color: var(--brand);
    color: var(--soft);
}

.menu-images {
    height: 300px;
}

.menu-images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#contact li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

#contact a,
#about a {
    text-decoration: none;
    color: var(--brand);
}

#contact button {
    background-color: var(--brand);
    color: var(--soft);
    border: 2px solid var(--soft);
}

@media (max-width: 844px) {
    #menu {
        margin-top: 20px;
    }

    #about:target,
    #events:target,
    #menu-restaurant:target,
    #contact:target {
    padding-top: 300px;
    margin-top: -250px;
}

    #about img,
    #event-items,
    #menu-restaurant nav,
    #menu-items {
        padding-bottom: 30px;
    }

    #event-items:last-child,
    #menu-items:last-child {
        padding-bottom: 0;
    }

    section {
        padding-bottom: 70px;
    }

    form {
        padding-bottom: 50px;
    }
}